asn1crypto==0.22.0
certifi==2017.7.27.1
cffi==1.10.0
chardet==3.0.4
cryptography==2.0.3
enum34==1.1.6
github3.py==1.0.0a4
gpiozero==1.4.0
idna==2.6
ipaddress==1.0.18
ndg-httpsclient==0.4.2
pyasn1==0.3.2
pycparser==2.18
pyOpenSSL==17.2.0
requests==2.18.4
six==1.10.0
uritemplate==3.0.0
uritemplate.py==3.0.2
urllib3==1.22
web.py==0.38
